.cartpage-text {
    font-size: 40px;
    text-align: center;
    color: #CB7287;
    padding-top: 10%;
}


.totalprice-text {
    color: #52600A;
    font-size: 20px;
    margin-top: 5%;
    text-align: right;
    margin-right: 5%;
}

.btn-backtomain {
    border: none;
    color: #CB7287;
    background: #EEB7D1;
    text-decoration: none;
    appearance: inherit;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    border: 1px solid #D1A481;
    transition: all 0.3s;
    cursor: pointer;
    justify-content: center;
    margin-left: 45%;
    margin-top: 5%;
}

.btn-backtomain:hover {
    transform: scale(1.2);
}


.btn-cleancart {
    border: none;
    color: #CB7287;
    background: #EEB7D1;
    text-decoration: none;
    appearance: inherit;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    border: 1px solid #D1A481;
    transition: all 0.3s;
    cursor: pointer;
    justify-content: flex-start;
    margin-left: 80%;

}

.btn-cleancart:hover {
    transform: scale(1.2);
}


.btn-completeorder {
    border: none;
    color: #52600A;
    background: #D3D596;
    text-decoration: none;
    appearance: inherit;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    border: 1px solid #D1A481;
    transition: all 0.3s;
    cursor: pointer;
    justify-content: flex-start;
}

.btn-completeorder:hover {
    transform: scale(1.2);
}

.item-bar {


    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   max-width: 85%;
   margin-left: 11%;
}

.text-bar {
    color: #52600A;
    font-size: 17px;
}