@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,400&display=swap');


.product-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: beige;
}

.product-img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.btn-vermas {
    
}