@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

body {
    background-color: #EFE4DC;
}

.header {
    background-color: #D3D596;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .menu {
    list-style: none;

}

.header .menu .navbar-button {
    display: inline-block;
    padding: 0 20px;
}


   
.navbar-button {
    border: none;
    font-size: 700;
    color: #52600A;
    text-decoration: none;
    background: inherit;
    border-radius: 4px;
    padding: 10px 30px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.navbar-button:hover{
    transform: scale(1.1);
    color: #CB7287;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:normal;
    background: #D3D596;
    margin: left;
}

/*.navbar .logo img {
    width: 60px;
}

.navbar .cart {
    display: flex;
}

.navbar-button {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #EEB7D1;
    color: #52600A;
}
.navbar-button:hover {
    opacity: 8;
    color:#CB7287;
} */