

.item-contendor {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-left: 10%;
    }

.img-item{
    width: 150px;
    margin-top: 3%;
}

.item-text{
    color: #52600A;
    font-size: 17px;
}



.btn-delateitem{
    border: none;
    color: #CB7287;
    background:#EEB7D1 ;
    text-decoration: none;
    appearance: inherit;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 5px;
    text-align: center;
    cursor: pointer; 
   
}