

.item-contendor {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     max-width: 150%;
}

.img-item{
    max-width:auto;
    max-height: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    margin-top: 3%;
}


.item-text{
    color: #52600A;
    font-size: 17px;
}



.btn-delateitem{
    border: none;
    color: #CB7287;
    background:#EEB7D1 ;
    text-decoration: none;
    appearance: inherit;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 5px;
    text-align: center;
    cursor: pointer; 
   
}